# Simple HAProxy Configuration
global
    log stdout format raw daemon

defaults
    mode    http
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms
    log global
    option httplog
    option dontlognull
    option httpclose
    option forwardfor

frontend http-in
    bind *:80
    acl is_auth path_beg /api/auth
    acl is_discounts path_beg /api/discounts
    acl is_items path_beg /api/items
    acl is_root path_beg /

    use_backend auth-backend if is_auth
    use_backend discounts-backend if is_discounts
    use_backend items-backend if is_items
    use_backend frontend-backend if is_root

backend auth-backend
    server auth auth:3001 check

backend discounts-backend
    server discounts discounts:3002 check

backend items-backend
    server items items:3003 check

backend frontend-backend
    server frontend frontend:80 check

